body{
	background-color: beige;
}
h1, h2{
	font-family: 'Italiana', serif;
	color: white;
}

img{
	width: 100%;
	display: block;
	margin: auto;
}
.photo{
	position: relative;
}
#name{
	position: absolute;
	color:maroon;
	font-weight: bold;
	font-size: 9em;
	top:0;
	right:0;
}
#tagline{
	position: absolute;
	color:green;
	font-weight: bold;
	font-size: 3em;
	top: 0;
	right:0;
}
#topMenu {
	text-align: center;
}

.guide{
	list-style-type: none;
     display: inline-block;
}
.guide:hover{
    background-color: tomato;
}
a{
	color:green;
	font-size: 1.75em;
	font-family: 'Roboto', sans-serif;
}
.sectionTitle{
	color:maroon;
	font-family: 'Italiana', serif;
	font-size: 2.5em;
}
#today, #menu, #pizza, #subscribe, #addy{
	text-align: center;
	list-style-type:none;
}
#hours{
	
	text-align: center;
	color:green;
	list-style-type: none;
	font-size: 1.25em;
}
#special, .pizzaName{
	color: green;
	font-size: 2em;
}
.sectionTitle{
	font-size: 3em;
}
.description{
	color:maroon;
	font-family: "Roboto", sharif;
	font-size: 1.5em;
}
#deal{
	color:green;
	font-size: 2em;

}
#street{
	font-family: "Roboto", sharif;
	color:maroon;
}
#map{
	color: maroon;
	font-size: 0.75em;
}
#credit, #copyright{
	text-align: right;
	color:maroon;
	font-family: 'Roboto', serif;
}
